@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

::-webkit-scrollbar {
  width: 8px; /* Largura das barras de rolagem */
}

/* Barra de rolagem vertical */
::-webkit-scrollbar-track {
  background-color: transparent; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Cor do indicador de rolagem */
  border-radius: 4px; /* Raio da borda do indicador de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Cor do indicador de rolagem ao passar o mouse */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    height: 100vh;
    width: 100vw;
    scrollbar-width: thin; /* Espessura fina para barras de rolagem */
    scrollbar-color: transparent transparent;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 2px solid #ea1538;
    background-color: rgb(32, 32, 32);
    box-shadow: 0 0 15px 0 #ea1538;
}

a{
    text-decoration: none;
}

.logo{
    color: white;
    font-size: 28px;
}

.logo span{
    color: #ea1538;
}

nav ul li{
    display: inline-block;
    padding: 10px 8px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: #ea1538;
}



.botoes {
    display: flex;
    align-items: center;
}

.botao-cadastrar{
    border: none;
    background-color: #ea1538;
    border: 1px solid #fff;
    padding: 12px 30px;
    border-radius: 1rem;
    color: #ffff;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}

.botao-cadastrar:hover{
    transform: scale(1.07);
    background-color: #fff;
    border: 1px solid #ea1538;
    color: #ea1538;
    cursor: pointer;
    box-shadow: 0 0 20px 0 #ea1538;
}

.perfil-dropdown{
    position: relative;
    width: fit-content;
}   

.perfil-dropdown-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid #ea1538;
    border-radius: 1rem;
    cursor: pointer;
    width: 140px;
    transition: .4s;
    font-weight: bold;
}

.perfil-dropdown-btn:hover{
    transform: scale(1.07);
    background-color: #ea1538;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}


.perfil-dropdown-list{
    position: absolute;
    top: 4rem;
    background-color: #fff;
    border-radius: 1rem;
    color: #1a1a1a;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.perfil-dropdown-list.active{
    max-height: 500px;
}


.perfil-dropdown-list-item{
    width: 100%;
    padding: 0.5rem, 0 0.5rem 1rem;
}

.perfil-dropdown-list-item:hover,
.perfil-dropdown-list-item:hover i{
    background-color: #ea1538;
    color: #ffff;
}


.perfil-dropdown-list-item a i{
    color: #1a1a1a;
    font-weight: bold;  
    font-size: 0.81rem;
    width: 100%;
    height: 2.3rem;
    color: #1a1a1a;
    line-height: 2.3rem;
    text-align: center;
}

.filtro{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu-links{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}


select{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 90%;
}

button[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
}

main{
    color: #fff;
    overflow-x: hidden;
}

.receitas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-editar-inteiro{
    position: fixed;
    z-index: 1;
    left: 0;    
    top: 0;
    width: 200%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-editar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 36.5%;
    top: -4rem;
    background-color: rgb(32, 32, 32);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ea1538;
    width: 25%;
    height: 60%;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 20px 0 #ea1538;
}

.form-editar input{
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 90%;
}


.modal {
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;    
    top: 0;
    width: 200%;
    height: 200%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 36.5%;
    top: -4rem;
    background-color: rgb(32, 32, 32);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ea1538;
    width: 25%;
    height: 60%;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0 20px 0 #ea1538;
}

.modal-content input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 90%;
}

input[type="file"] {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 90%;
    border: 1px solid #fff;
    transition: .4s;
}

input[type="file"]:hover{
    transform: scale(1.05);
    background-color: #ea1538;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.botao-criar {
    border: none;
    background-color: #fff;
    border: 1px solid #ea1538;
    padding: 12px 30px;
    border-radius: 1rem;
    color: #ea1538;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}

.botao-criar:hover {
    transform: scale(1.07);
    background-color: #ea1538;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ea1538;
    text-decoration: none;
    cursor: pointer;
}

.abrir-form {
    position: fixed;
    bottom: 40px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0 0 5px 0 #ea1538;
}

.abrir-form:hover{
    transform: scale(1.07);
    background-color: #ea1538;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}    


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    background-color: #333;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 1px solid #ea1538;
    box-shadow: 0 0 10px 0 #ea1538;
    text-decoration: none;
}



.card:hover,
.card:hover h1{
    cursor: pointer;
    color: #fff;
    background-color: #ea1538;
}

.card h1 {
    font-size: 3rem;
    color: #ea1538;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
    /* Limita o número máximo de linhas a serem exibidas */
    overflow: hidden;
    /* Adiciona reticências para indicar que o texto foi cortado */
    text-overflow: ellipsis;
    /* Define como o texto deve ser tratado quando ultrapassar o tamanho do contêiner */
    white-space: nowrap;
    /* Define a altura máxima que o texto pode ter antes de ser cortado */
    max-height: 3.6em;

}

.card img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2{
    color: #fff;
}


.card p {
    font-size: 14px;
    margin-bottom:  0.5rem;
    /* Limita o número máximo de linhas a serem exibidas */
    overflow: hidden;
    /* Adiciona reticências para indicar que o texto foi cortado */
    text-overflow: ellipsis;
    /* Define como o texto deve ser tratado quando ultrapassar o tamanho do contêiner */
    white-space: nowrap;
    /* Define a altura máxima que o texto pode ter antes de ser cortado */
    max-height: 3.6em;
    color: #fff;
}

.card-actions {
    display: flex;
    justify-content: space-between;
 
}

.card-actions a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
}

.card-actions a:first-child {
    background-color: #3498db;
}

.card-actions a:last-child {
    background-color: #ea1538;
}

.botao-fav {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  font-size: 0; /* Esconde o texto dentro do elemento de âncora */
  width: 2rem; /* Define a largura do botão igual ao tamanho do ícone de estrela */
}

.botao-fav i {
  font-size: 2rem; /* Define o tamanho do ícone de estrela */
  color: #ccc;
}

.botao-fav.favoritada i {
  color: yellow;
}

.botao-excluir{
    border: none;
    border: 1px solid #fff;
    padding: 12px 30px;
    border-radius: 1rem;
    color: #ffff;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}
    
.botao-excluir:hover{
    transform: scale(1.07);
    border: 1px solid #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.botao-editar{
    border: none;
    border: 1px solid #fff;
    padding: 12px 30px;
    border-radius: 1rem;
    color: #ffff;
    font-weight: bold;
    font-size: 1rem;
    transition: .4s;
}
    
.botao-editar:hover{
    transform: scale(1.07);
    border: 1px solid #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}